<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>info</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/infoMovie.css" />
	</head>

	<body>
		<a href="/" style="margin-left: 10px;">prev</a>
		<div align="center">
			<iframe
				style="float: initial ;"
				width="853"
				height="480"
				src="https://www.youtube.com/embed/<%=urlMovie%>"
			></iframe>
		</div>

		<h2>Details about the film</h2>
		<ul class="list-group">
			<li class="list-group-item"><b>Title:</b> <%=Details.title%></li>
			<li class="list-group-item"><b>Rating:</b> <%=Details.rating%></li>
			<li class="list-group-item"><b>RatingCount:</b> <%=Details.ratingCount%></li>
			<li class="list-group-item"><b>Summary:</b> <%=Details.summary_text%></li>
			<li class="list-group-item"><b>Director:</b> <%=Details.Director%></li>
			<li class="list-group-item" id="casts">
				<b>casts:</b>
				<% for(let i=0; i< Details.photoCast.length;i++){ %>
				<P
					><img src="<%=Details.photoCast[i]%>" /> ,
					<b>Name of the character:</b> <%=Details.nameCast[i]%> ,
					<b>Real name:</b> <%=Details.nameRealCast[i]%></P
				>
				<%}%>
			</li>
			<li class="list-group-item"><b>Poster:</b> <img src="<%=Details.poster%>" alt="#" /></li>
		</ul>
	</body>
</html>
